.team
{
    background-color: white;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    text-align: center;
    margin: 30px auto;
}
.team-members{
    border: 2px solid ;
    width: 20%;
    height:5vh;
    color: #ff0000;
    background-color: #ffaa66;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 30px;
    align-items: center;
    margin-left: 50%;
    font-size: 18px;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.text_2{
    margin-left: 40%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-kerning: auto;
    line-height: 50px;
    

}
.card_1
{
    height:365px;
    width: 180px;
    padding: 20px 35px;
    background-color:#f3fafd;
    border-radius: 20px;
    margin:15px ;
    position: relative;
    overflow: hidden;
    padding-right: 10%;
    object-fit:cover;
    align-items: center;
  
}

.card_2
{
    height:365px;
    width: 180px;
    padding: 20px 35px;
    background-color:#979a95;
    border-radius: 20px;
    margin:15px ;
    position: relative;
    overflow: hidden;
    padding-right: 10%;
    object-fit:cover;
    align-items: center;
}

.card_3
{
    height:365px;
    width: 180px;
    padding: 20px 35px;
    background-color:#AB9C90;
    border-radius: 20px;
    margin:15px ;
    position: relative;
    overflow: hidden;
    padding-right: 10%;
    object-fit:cover;
}
.card_4
{
    height:365px;
    width: 180px;
    padding: 20px 35px;
    background-color:#aebdc3;
    border-radius: 20px;
    margin:15px ;
    position: relative;
    overflow: hidden;
    padding-right: 10%;
    object-fit:cover;
}
img{
    cursor: pointer;
    object-fit:cover;
    width: 100%;
    height: 50%;
    padding-left: 40%;
    
}
.member{
    color: #ff0000;
    font-size: 15px;
    font-style: normal;
    padding: 10px 10px;
    font-weight: bold;
    text-align: center;
    
}
.social{
    display: flex
    
   
    
}

.social a{
    display: flex;
    width:100%;
    height: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    background-color: white;
    margin: 22px 10px;
    color: #ff0000;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    bottom: 0px;      
    box-sizing: border-box;
    /* visibility: hidden; */
    opacity: 0;
}
.card_1:hover{
    cursor: pointer;
}
.card_1:hover .member{
    height: 0px;
    bottom: 0px;
    background-color:#f3fafd ;
}
.card_1:hover .social a{
    opacity: 4;
    visibility: visible;
}
.card_1:hover img{
    transform: scale(1.1) ;
}
/* card-2 */

.card_2:hover{
    cursor: pointer;
}
.card_2:hover .member{
    height: 0px;
    bottom: 0px;
    background-color:#979a95 ;
}
.card_2:hover .social a{
    opacity: 4;
    visibility: visible;
}
.card_2:hover img{
    transform: scale(1.1) ;
}
/* 
.card_3 */
.card_3:hover{
    cursor: pointer;
}
.card_3:hover .member{
    height: 0px;
    bottom: 0px;
    background-color:#AB9C90;
}
.card_3:hover .social a{
    opacity: 4;
    visibility: visible;
}
.card_3:hover img{
    transform: scale(1.1) ;
}

/* .card_4 */
.card_4:hover{
    cursor: pointer;
}
.card_4:hover .member{
    height: 0px;
    bottom: 0px;
    background-color:#aebdc3;
}
.card_4:hover .social a{
    opacity: 4;
    visibility: visible;
}
.card_4:hover img{
    transform: scale(1.1) ;
}


/* .social a:hover{
    transition: .3s;
    transform: scale(1.3);
} */
 

  

p{
    text-align: center;
    padding-left: 30%;
    margin: 10px;
    font-size: 20px;
}
img:hover  .social a{
    display: block;
    width: 100%;
}

